@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.light{
  background-color: white;
  color: #232323;
}
.dark{
  background-color: black;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 30px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  opacity: 0.4;
  transform: translateY(30px);
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.projects-container-active {
  opacity: 1;
  transform: translateY(0px);
}

.project-card{
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
}

.project-image > *{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.project-links a {
  margin-right: 10px;
  text-decoration: none;
}
